@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    font-family: var(--font-mont), system-ui, sans-serif;
  }
}

@theme {
  --color-item-bg: #161827;
  --color-product-add-btn: #905bff;
  --color-text-light: #f1f2f9;
  --color-text-gray: #75767f;
  --color-product-add-btn-primary: #905bff;
  --color-product-add-btn-hover: #905bff;
  --color-product-add-btn-selected: #323542;
  --color-carousel-title-first: #891ce8;
  --color-carousel-title-second: #7560fa;
  --color-carousel-title-third: #e963ff;
  --color-carousel-title-bg: #222222;

  --color-light-theme-text-hover: #313237;
  --color-light-theme-text: #0f0f11;
  --color-light-theme-border-color: #e2e6e9;
  --color-light-theme-text-menu: #89939a;
  --color-light-theme-border-active: #b4bdc3;
  --color-light-theme-logo: #f447af;
  --color-light-theme-btn-product-bg: #216cff;
  --color-light-theme-checkout-shoppingcart: #216cff;

  --color-dark-theme-bg: #0f1121;
  --color-dark-theme-text: #f1f2f9;
  --color-dark-theme-border-color: #3b3e4a;
  --color-dark-theme-border-hover: #4a4d58;
  --color-dark-theme-btn-primary: #905bff;
  --color-dark-theme-btn-hover: #a378ff;
  --color-dark-theme-btn-selected: #323542;

  --breakpoint-lg-max: 75rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  font-family: 'Mont', sans-serif;
}

.tracking-4percent {
  letter-spacing: 4%;
}

.text-light {
  color: var(--color-text-light);
}

.text-gray {
  color: var(--color-text-gray);
}

/* Базовий булет */
.swiper-pagination-bullet {
  width: 14px !important;
  height: 4px !important;
  border-radius: 2px !important;
  background-color: var(--color-light-theme-border-color) !important;
  opacity: 1 !important;
}

/* Активний булет */
.swiper-pagination-bullet-active {
  background-color: var(--color-light-theme-text) !important;
}

/* Базовий булет (темна тема) */
html.dark .swiper-pagination-bullet {
  background-color: var(--color-dark-theme-border-color) !important;
}

/* Активний булет (темна тема) */
html.dark .swiper-pagination-bullet-active {
  background-color: var(--color-text-light) !important;
}
